In [3]:
import pandas as pd

In [24]:
dataset = pd.read_csv("Pokemon.csv")
dataset.head(n=10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [25]:
dataset.tail(n=10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
790,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False
792,716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [27]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [28]:
dataset.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [29]:
dataset.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [30]:
dataset.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [31]:
dataset.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [32]:
dataset["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [33]:
dataset.sort_values("Defense",ascending=False)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False
223,208,Steelix,Steel,Ground,510,75,85,200,55,65,30,2,False
414,377,Regirock,Rock,NaN,580,80,100,200,50,100,50,3,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False
488,440,Happiny,Normal,NaN,220,100,5,5,15,65,30,4,False
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False

In [34]:
dataset.sort_values(["HP","Attack","Defense"])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,236,1,90,45,30,30,40,3,False
55,50,Diglett,Ground,NaN,265,10,55,25,35,45,95,1,False
139,129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
381,349,Feebas,Water,NaN,200,20,15,20,10,55,80,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
351,321,Wailord,Water,NaN,500,170,90,45,90,45,60,3,False
217,202,Wobbuffet,Psychic,NaN,405,190,33,58,33,58,33,2,False
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False

In [15]:
hp_mean = data["HP"].mean()

def set_hp(val):
    if val < hp_mean:
        return "hp Low"
    elif val == hp_mean:
        return "hp neutral"
    else:
        return "hp High"

In [35]:
dataset["hp_high_low"] = data["HP"].apply(set_hp)
dataset

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,hp_high_low
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,hp Low
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,hp Low
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,hp High
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,hp High
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,hp Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,hp Low
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,hp Low
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,hp High
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,hp High
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,hp High

In [36]:
dataset.groupby("hp_high_low").groups

{'hp High': [2, 3, 6, 7, 8, 11, 12, 22, 23, 33, 35, 36, 39, 40, 41, 43, 44, 45, 47, 50, 54, 60, 64, 67, 72, 73, 74, 77, 79, 82, 85, 86, 87, 94, 95, 96, 105, 111, 116, 119, 120, 121, 123, 124, 128, 132, 138, 140, 141, 142, 145, 150, 153, 154, 155, 156, 157, 158, 161, 162, 163, 164, 165, 168, 171, 174, 176, 178, 182, 183, 184, 185, 188, 194, 195, 196, 197, 198, 199, 200, 201, 204, 207, 210, 212, 214, 217, 218, 220, 221, 223, 224, 226, 228, 229, 231, 232, 235, 239, 242, ...], 'hp Low': [0, 1, 4, 5, 9, 10, 13, 14, 15, 16, 17, 18, 19, 20, 21, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 37, 38, 42, 46, 48, 49, 51, 52, 53, 55, 56, 57, 58, 59, 61, 62, 63, 65, 66, 68, 69, 70, 71, 75, 76, 78, 80, 81, 83, 84, 88, 89, 90, 91, 92, 93, 97, 98, 99, 100, 101, 102, 103, 104, 106, 107, 108, 109, 110, 112, 113, 114, 115, 117, 118, 122, 125, 126, 127, 129, 130, 131, 133, 134, 135, 136, 137, 139, 143, 144, 146, 147, 148, 149, 151, ...]}

In [37]:
speed_mean = dataset["Speed"].mean()

def set_speed(val):
    if val < speed_mean:
        return "Speed Low"
    elif val == hp_mean:
        return "Speed neutral"
    else:
        return "Speed High"

In [38]:
dataset["speed_high_low"] = dataset["Speed"].apply(set_speed)
dataset

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,hp_high_low,speed_high_low
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,hp Low,Speed Low
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,hp Low,Speed Low
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,hp High,Speed High
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,hp High,Speed High
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,hp Low,Speed Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,hp Low,Speed Low
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,hp Low,Speed High
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,hp High,Speed High
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,hp High,Speed High
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,hp High,Speed High

In [39]:
dataset.groupby("speed_high_low").groups

{'Speed High': [2, 3, 5, 6, 7, 8, 11, 12, 15, 18, 19, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 36, 39, 43, 47, 54, 55, 56, 57, 58, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 77, 78, 79, 83, 84, 89, 91, 92, 94, 98, 99, 100, 101, 102, 103, 107, 108, 109, 114, 115, 123, 124, 126, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 146, 152, 153, 154, 156, 157, 158, 160, 161, 162, 163, 164, 165, 168, 170, 171, 174, 176, 178, 180, 183, 191, 192, ...], 'Speed Low': [0, 1, 4, 9, 10, 13, 14, 16, 17, 20, 28, 32, 33, 34, 35, 37, 38, 40, 41, 42, 44, 45, 46, 48, 49, 50, 51, 52, 53, 59, 63, 72, 73, 74, 75, 76, 80, 81, 82, 85, 86, 87, 88, 90, 93, 95, 96, 97, 104, 105, 106, 110, 111, 112, 113, 116, 117, 118, 119, 120, 121, 122, 125, 127, 128, 142, 143, 144, 145, 147, 148, 149, 150, 151, 155, 159, 166, 167, 169, 172, 173, 175, 177, 179, 181, 182, 184, 185, 186, 187, 188, 189, 190, 193, 194, 195, 196, 197, 198, 199, ...]}

In [40]:
dataset.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,hp_high_low,speed_high_low
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,hp Low,Speed Low
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,hp Low,Speed Low
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,hp High,Speed High
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,hp High,Speed High
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,hp Low,Speed Low